*{
	margin:0;
}

a {
	text-decoration: none;
	color:#9FA4AA;
}

nav  {

	min-width:100%;
	height:78px;
	font-family:sans-serif;
	background-color: grey;
	position:fixed;
	margin:0px ;
}

nav ul {
	float:right;
	margin: 18px 160px;
	padding:10px 30px;
	right:10px;
	font-size: 12px;
  background: -webkit-linear-gradient(#B2B7BD, #B2B7BD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav li  {
	margin:0px 5px ;
	padding:5px;
	font-size:12px;
	display:inline;
	text-decoration: none;
	margin-bottom:20px;
}


nav li a {
	color:black;
	padding: 2px;
	font-family:codebold;
	font-weight: :500px;
	font-size: 16px;
	margin-bottom: 20px
}




#head{
 font-size: 22px;
  background: -webkit-linear-gradient(#B2B7BD, #84898F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    left:220px;
	position: fixed;
	font-size:22px;
	top:20px;
}

#para1{
  font-size: 10px;
  background: -webkit-linear-gradient(#B2B7BD, #84898F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left:222px;
	position: fixed;
	top:40px;

}

header{
	background: -webkit-linear-gradient(top, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
	margin:0px auto;
	min-width:100%;
	height:400px;
	display:block;
}

header img {
	height:300px;
	width:250px;
	position: absolute;
	left:200px;
	top:100px;
}

header h1{
color:white;
position: absolute;
top:170px;
left:630px;	
word-spacing: 10px;

}

header p {
	position: absolute;
	color:grey;
	top:250px;
	left:630px;
}

#p2{
	position: absolute;
	color:grey;
	top:230px;
	left:630px;
}

   .button {
    /*adjust the roundness*/
    border-radius: 0px;
    moz-border-radius: 0px;
    webkit-border-radius: 0px;
    /*adjust height and width*/
    height: 30px;
    width: 150px; 
    /*change border colour*/
    border:1px #74a9dd solid;
    position:absolute;
    top:280px;
    left:630px;
    background-color:#74a9dd
}

#span1{
	font-size: 18px
	margin-left:25%;
	margin-right: 25;
	color:#bfd0e1;
}
 
span{
	color:#74a9dd;
	font-size:18px;
}

#windows{
 height:86px;
 width:103px;
 position: absolute;
 margin-top: 40px;
 right:20%;
 margin-right: 4%
}

#android{
height:85px;
width:86px;
left:47%;
margin-top:40px;
position: absolute;
}

#apple{
height:85px;
position:absolute;
left:25%;
margin-top: 40px;
width:105px;
}

#head1{
bottom:22%;
position: absolute;
left:26%;
color:#74a9dd;
}

#head2{
bottom:22%;
position: absolute;
left:47%;
margin-left:2px;
color:#74a9dd;

}

#head3{
bottom:22%;
position: absolute;
right:25%;
color:#74a9dd;
}

#pr1{
	bottom:18%;
position: absolute;
left:22%;
text-align: center;
}

#pr2{
	bottom:18%;
position: absolute;
left:43%;
margin-left:2px;
text-align: center;
}

#pr3{
	bottom:18%;
position: absolute;
right:21%;
text-align: center;
}

a:active{color:white;}